// Fonts

//$fr: FRAMDCN, sans-serif;
$or: OpenSansRegular, sans-serif;
$ob: OpenSansBold, sans-serif;
$mb: MontserratBold, sans-serif;
// $rbb: RobotoBlack, sans-serif;

// Colors

$accent: #056CDE;
$yellow: #FFCE51;
$txt: #3A4959;


// $gutter: 30px;