<div class="footer__nav-wrap">
	<ul class="site-menu">
		<li><a href="#">Our Story</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">FAQ</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	<div class="footer__nav-contacts">
		<ul class="footer__social-link social-link-list">
			<li><a href="#" target="_blank"><span class="pinterest-icon"></span></a></li>
			<li><a href="#" target="_blank"><span class="instagram-icon"></span></a></li>
			<li><a href="#" target="_blank"><span class="twitter-icon"></span></a></li>
			<li><a href="#" target="_blank"><span class="facebook-icon"></span></a></li>
		</ul>
		<a href="#" class="site-btn site-btn_yellow">Contact Us</a>
	</div>	
</div>
<div class="footer__content">
	<div class="footer__box">
		<div class="location-wrap">
			<a href="tel:3034572040" target="_blank" class="phone-link footer__phine-link">(303) 457-2040</a>
			<span class="location__item">10313 Washington St., Thornton, CO 80229</span>
		</div>
		<div class="opening-hours-wrap">
			<span>Monday, Wednesday, Thursday — <span>9:00 AM - 6:00 PM</span></span>
			<span>Friday — <span>9:00 AM - 1:00 PM</span></span>
			<span>Saturday — <span>10:00 AM - 1:00 PM</span></span>
		</div>
	</div>
	<div class="footer__meta-wrap">
		<div class="rating rating-wrap">
			<h4 class="rating__title">Company rating:</h4>
			<div class="rating-form"> 
				<input id="star55" name="rating" value="5" type="radio" checked="checked">
				<label for="star55" title="Sumptuously"></label>
				<input id="star44" name="rating" value="4" type="radio">
				<label for="star44" title="Good"></label>
				<input id="star33" name="rating" value="3" type="radio">
				<label for="star33" title="Average"></label>
				<input id="star22" name="rating" value="2" type="radio">
				<label for="star22" title="Рoorly"></label>
				<input id="star11" name="rating" value="1" type="radio">
				<label for="star11" title="Terribly"></label> 
			</div>  
		</div>
		<span class="copyright">© Copyright — Healthy Spine Family Chiropractic 2019</span>
		<a href="https://directlinedev.com" target="_blank" class="web-design">Web Design — Direct Line Development</a>
	</div>
</div>
