<div class="info info-wrap">
	<div class="info__col">
		<div class="info__thumb-wrap">
			<div class="info__thumb-inner">
				<picture>
					<source type="image/webp" srcset="%=static=%img/content/info-thumb.webp 1x, %=static=%img/content/info-thumb@2x.webp 2x" />
					<img src="%=static=%img/content/info-thumb.jpg" srcset="%=static=%img/content/info-thumb@2x.jpg 2x" alt="Comprehensive Pain Treatment" />
				</picture>
			</div>
		</div>
	</div>
	<div class="info__col">
		<div class="info__text-wrap">
			<h2 class="site-title">Comprehensive Pain Treatment</h2>
			<span class="info__descr site-text">Healthy Spine Family Chiropractic was created for the necessity of custom made chiropractic treatment for all ages. We understand that not all bodies are the same and so your chiropractic treatment will be tailored to you. Healthy Spine Family Chiropractic was created for the necessity of custom made chiropractic treatment for all ages. We understand that not all bodies are the same and so your chiropractic treatment will be tailored to you. Healthy Spine Family Chiropractic was created for the necessity of custom made chiropractic treatment for all ages. We understand that not all bodies are the same and so your chiropractic treatment will be tailored to you.</span>
			<a href="#" class="site-btn site-btn_yellow info__btn">Learn more</a>
		</div>
	</div>
</div>
