<div class="hero hero-wrap">
	<div class="hero__col">
		<div class="hero__text-wrap">
			<h1 class="hero__title">Healthy Spine Family Chiropractic</h1>
			<span class="hero__descr site-text">Healthy Spine Family Chiropractic was created for the necessity of custom made chiropractic treatment for all ages. We understand that not all bodies are the same.</span>
			<a href="#" class="site-btn site-btn_blue">Get In Touch Now</a>
			<ul class="hero__social-link social-link-list">
				<li><a href="#" target="_blank"><span class="pinterest-icon"></span></a></li>
				<li><a href="#" target="_blank"><span class="instagram-icon"></span></a></li>
				<li><a href="#" target="_blank"><span class="twitter-icon"></span></a></li>
				<li><a href="#" target="_blank"><span class="facebook-icon"></span></a></li>
			</ul>
		</div>
	</div>
	<div class="hero__col">
		<div class="hero__thumb-wrap">
			<picture>
				<source type="image/webp" srcset="%=static=%img/content/hero-thumb.webp 1x, %=static=%img/content/hero-thumb@2x.webp 2x" />
				<img src="%=static=%img/content/hero-thumb.png" srcset="%=static=%img/content/hero-thumb@2x.png 2x" alt="Healthy Spine Family Chiropractic" />
			</picture>
		</div>
	</div>
</div>