<div class="advantages advantages-wrap">
	<div class="wrap-sm">
		<h2 class="site-title">Advantages</h2>
		<span class="advantages__descr site-text">Healthy Spine Family Chiropractic was created for the necessity of custom made chiropractic treatment for all ages.</span>
		<ul class="advantages-list">
			<li class="advantage advantage__item">
				<div class="advantage__icon">
					<span class="practice"></span>
				</div>
				<div class="advantage__content">
					<h3 class="advantage__title">Multi Disciplinary Practice</h3>
					<span class="advantage__descr site-text_sm">We offer chiropractic, massage and acupuncture.</span>
				</div>
			</li>
			<li class="advantage advantage__item">
				<div class="advantage__icon">
					<span class="spanich"></span>
				</div>
				<div class="advantage__content">
					<h3 class="advantage__title">The Doctor Speaks Spanish</h3>
					<span class="advantage__descr site-text_sm">We strive to provide complete care for our patients. We speak English and Spanish.</span>
				</div>
			</li>
			<li class="advantage advantage__item">
				<div class="advantage__icon">
					<span class="experience"></span>
				</div>
				<div class="advantage__content">
					<h3 class="advantage__title">Over 10 Years of Experience</h3>
					<span class="advantage__descr site-text_sm">The Doctor has 10+ years of experience in the chiropractic.</span>
				</div>
			</li>
			<li class="advantage advantage__item">
				<div class="advantage__icon">
					<span class="insurance"></span>
				</div>
				<div class="advantage__content">
					<h3 class="advantage__title">Insurance</h3>
					<span class="advantage__descr site-text_sm">We accept most insurance and file the claims for you.</span>
				</div>
			</li>
		</ul>
	</div>
</div>
