<div class="site-overlay"></div>  

<nav class="pushy pushy-right mobile-menu">
	<div class="pushy-content">
		<div class="mobile-menu__header">
			<a href="#" class="logo">
				<img src="%=static=%img/general/logo.svg" alt="HEALTHY SPINE" />
			</a>
			<button class="menu-btn"></button>
		</div>
		<ul class="mobile-menu__links site-menu">
				<li class="pushy-link"><a href="#">Our Story</a></li>
				<li class="pushy-link"><a href="#">Services</a></li>
				<li class="pushy-link"><a href="#">FAQ</a></li>
				<li class="pushy-link"><a href="#">Contact</a></li>
			</ul>
		<div class="mobile-menu__contacts-wrap">
			<a href="tel:3034572040" target="_blank" class="phone-link mobile-menu__phone-link">(303) 457-2040</a>
			<a href="#" class="site-btn site-btn_yellow">Schedule Appointment</a>
			<ul class="mobile-menu__social-link social-link-list">
				<li><a href="#" target="_blank"><span class="pinterest-icon"></span></a></li>
				<li><a href="#" target="_blank"><span class="instagram-icon"></span></a></li>
				<li><a href="#" target="_blank"><span class="twitter-icon"></span></a></li>
				<li><a href="#" target="_blank"><span class="facebook-icon"></span></a></li>
			</ul>
		</div>
	</div>
</nav>  

<header class="main-header main-header-wrap">
	<div class="container-fluid">
		<div class="main-header__inner">
			<a href="#" class="logo">
				<img src="%=static=%img/general/logo.svg" alt="HEALTHY SPINE" />
			</a>
			<ul class="site-menu">
				<li><a href="#">Our Story</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<div class="main-header__contacts-wrap">
				<a href="tel:3034572040" target="_blank" class="phone-link main-header__phone-link">(303) 457-2040</a>
				<a href="#" class="site-btn site-btn_yellow">Schedule Appointment</a>
			</div>
			<button class="menu-btn"></button>
		</div>
	</div>
</header>
