.doctor-wrap {
	margin-top: -20px;
	.info__text-wrap {
		padding-top: 60px;
	}
	.info__thumb-wrap {
		margin-left: -17px;
		border-radius: 0;
		box-shadow: none;
	}
}

@media (max-width: 1199.98px) {
	.doctor-wrap .info__thumb-wrap {
		margin-left: 0;
	}
}

@media (max-width: 767.98px) {
	.doctor-wrap .info__text-wrap {
		padding-top: 20px;
	}
}