<div class="doctor doctor-wrap info-wrap">
	<div class="info__col">
		<div class="info__thumb-wrap">
			<div class="info__thumb-wrap">
				<picture>
					<source type="image/webp" srcset="%=static=%img/content/osvaldo.webp 1x, %=static=%img/content/osvaldo@2x.webp 2x">
				<img src="%=static=%img/content/osvaldo.png" srcset="%=static=%img/content/osvaldo@2x.png 2x" alt="Dr. Osvaldo «Ozzie» Gratacos" />
			</picture>
			</div>
		</div>
	</div>
	<div class="info__col">
		<div class="info__text-wrap">
			<h2 class="site-title">Dr. Osvaldo «Ozzie» Gratacos</h2>
			<span class="info__descr site-text">Dr. Osvaldo “Ozzie” Gratacos is a licensed chiropractor serving the Thornton and surrounding communities. Dr. Gratacos graduated from Palmer College of Chiropractic in Florida. After graduating, Dr. Gratacos went back to his home in Puerto Rico to open a practice for 4 years before practicing in Lakewood, Colorado. He is bilingual (spanish/english). Ozzie is certified in extremity adjustments, treatment in golf related injuries, and Cox technique for herniated disc. </span>
		</div>
	</div>
</div>
