<div class="services services-wrap">
	<div class="wrap-sm">
		<h2 class="site-title">Services</h2>
		<ul class="services-list">
			<li class="service service__item">
				<a href="#" target="_blank" class="service__thumb">
					<picture>
						<source type="image/webp" srcset="%=static=%img/content/service-thumb-one.webp 1x, %=static=%img/content/service-thumb-one@2x.webp 2x" />
							<img src="%=static=%img/content/service-thumb-one.jpg" alt="Chiropractic" srcset="%=static=%img/content/service-thumb-one@2x.jpg 2x" />
					</picture>
				</a>
				<div class="service__content">
					<h3 class="service__title">Chiropractic</h3>
					<span class="service__descr site-text_sm">Chiropractic care is a unique science that focuses on restoring and maintaining health, while most other healing arts are designed to treat disease.</span>
					<div class="service__link-list">
						<a href="#" target="_blank" class="service__link">Chiropractic Adjustment</a>
						<a href="#" target="_blank" class="service__link">Flexion-distraction</a>
						<a href="#" target="_blank" class="service__link">Thompson</a>
						<a href="#" target="_blank" class="service__link">View All Services</a>
                        <a href="#" target="_blank" class="service__link">View All Services</a>

                    </div>
				</div>
			</li>
			<li class="service service__item">
				<a href="#" target="_blank" class="service__thumb">
					<picture>
						<source type="image/webp" srcset="%=static=%img/content/service-thumb-two.webp 1x, %=static=%img/content/service-thumb-two@2x.webp 2x" />
							<img src="%=static=%img/content/service-thumb-two.jpg" alt="Chiropractic" srcset="%=static=%img/content/service-thumb-two@2x.jpg 2x" />
					</picture>
				</a>
				<div class="service__content">
					<h3 class="service__title">Acupuncture</h3>
					<span class="service__descr site-text_sm">Healthy Spine Family Chiropractic, serves the Thornton and surrounding communities and it provides a natural, conservative approach to your health care.</span>
					<div class="service__link-list">
						<a href="#" target="_blank" class="service__link">Cupping</a>
						<a href="#" target="_blank" class="service__link">Chinese Herbs</a>
					</div>
				</div>
			</li>
			<li class="service service__item">
				<a href="#" target="_blank" class="service__thumb">
					<picture>
						<source type="image/webp" srcset="%=static=%img/content/service-thumb-three.webp 1x, %=static=%img/content/service-thumb-three@2x.webp 2x" />
							<img src="%=static=%img/content/service-thumb-three.jpg" alt="Chiropractic" srcset="%=static=%img/content/service-thumb-three@2x.jpg 2x" />
					</picture>
				</a>
				<div class="service__content">
					<h3 class="service__title">Massage</h3>
					<span class="service__descr site-text_sm">Healthy Spine Family Chiropractic, serves the Thornton and surrounding communities and it provides a natural, conservative approach to your health care.</span>
					<div class="service__link-list">
						<a href="#" target="_blank" class="service__link">Deep Tissue</a>
						<a href="#" target="_blank" class="service__link">Trigger Point </a>
						<a href="#" target="_blank" class="service__link">Sport Massage </a>
						<a href="#" target="_blank" class="service__link">Myofascial Release</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
