.contacts {
	padding-top: 85px;
	&__info {
		position: relative;
		border-radius: 10px 10px 0 0;
		background-color: $yellow;

		&:before {
			content: '';
			position: absolute;
			left: 39px;
			top: -27px;
			display: inline-block;
			@include bg-svg($mail);
		}
	}

	&__content {
		width: 100%;
		max-width: 580px;
		margin-left: 300px;
		padding: 60px 0 70px 0;
	}

	&__title {
		display: block;
		font-family: $mb;
		font-size: 58px;
		line-height: 1.2em;
		letter-spacing: 1px;
	}

	&__descr {
		margin-bottom: 20px;
	}

	&__phone-link {
		&.phone-link{
			margin-bottom: 30px;

			&:hover {
				color: #fff;
			}
		}
	}
}

#map-wrap {
	height: 400px;
	border-radius: 0 0 10px 10px;
}

@media (max-width: 991.98px) {
	.contacts {
		padding-top: 30px;

		&__info {
			&:before {
				left: 0;
				top: -45px;
				transform: scale(0.7);
			}
		}

		&__content {
			margin-left: 125px;
			padding: 60px 0 40px 0;
		}

		&__title {
			font-size: 44px;
		}
	}
}

@media (max-width: 767.98px) {
	.contacts {
		&__content {
			margin-left: 0;
			padding: 60px 40px 40px;
		}
		
		&__title {
			font-size: 36px;
		}
	}

	#map-wrap {
		height: 300px;
	}
}

@media (max-width: 479.98px) {
	.contacts {
		&__info {
			&:before {
				transform: scale(0.5);
			}
		}

		&__content {
			padding: 50px 24px 40px;
		}

		&__title {
			font-size: 26px;
		}
	}
}
