<div class="testimonials testimonials-wrap">
	<div class="wrap-sm">
		<h2 class="site-title">Testimonials</h2>
		<div class="testimonials__content">
			<div class="testimonials__slider">

				<div class="testimonials__item-wrpa">
					<div class="testimonials__item">
						<div class="testimonials__star rating-stars-img stars-5"></div>
						<div class="testimonials__item-content">
							<span class="testimonials__text">I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I know what not to do so I can keep...</span>
							<span class="testimonials__text-full">I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I know what not to do so I can keep. I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I know what not to do so I can keep</span>
						</div>
						<a href="#" class="more-btn">View More</a>
						<h4 class="testimonials__user-name site-text">Tony D.</h4>
					</div>
				</div>

				<div class="testimonials__item-wrpa">
					<div class="testimonials__item">
						<div class="testimonials__star rating-stars-img stars-4"></div>
						<div class="testimonials__item-content">
							<span class="testimonials__text">Absolutely amazing staff! I will never go anywhere else to get my back and neck fixed! Came in after an auto accident and had me feeling better by the next week! I will recommend to everyone I know!</span>
						</div>
						<h4 class="testimonials__user-name site-text">Christopher C.</h4>
					</div>
				</div>

				<div class="testimonials__item-wrpa">
					<div class="testimonials__item">
						<div class="testimonials__star rating-stars-img stars-3"></div>
						<div class="testimonials__item-content">
							<span class="testimonials__text">I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I know what not to do so I can keep...</span>
							<span class="testimonials__text-full">I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I know what not to do so I can keep. I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I know what not to do so I can keep</span>
						</div>
						<a href="#" class="more-btn">View More</a>
						<h4 class="testimonials__user-name site-text">Tony D.</h4>
					</div>
				</div>

				<div class="testimonials__item-wrpa">
					<div class="testimonials__item">
						<div class="testimonials__star rating-stars-img stars-2"></div>
						<div class="testimonials__item-content">
							<span class="testimonials__text">Absolutely amazing staff! I will never go anywhere else to get my back and neck fixed! Came in after an auto accident and had me feeling better by the next week! I will recommend to everyone I know!</span>
						</div>
						<h4 class="testimonials__user-name site-text">Christopher C.</h4>
					</div>
				</div>

				<div class="testimonials__item-wrpa">
					<div class="testimonials__item">
						<div class="testimonials__star rating-stars-img stars-1"></div>
						<div class="testimonials__item-content">
							<span class="testimonials__text">I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I know what not to do so I can keep...</span>
							<span class="testimonials__text-full">I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I know what not to do so I can keep. I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I know what not to do so I can keep</span>
						</div>
						<a href="#" class="more-btn">View More</a>
						<h4 class="testimonials__user-name site-text">Tony D.</h4>
					</div>
				</div>

				<div class="testimonials__item-wrpa">
					<div class="testimonials__item">
						<div class="testimonials__star rating-stars-img stars-0"></div>
						<div class="testimonials__item-content">
							<span class="testimonials__text">Absolutely amazing staff! I will never go anywhere else to get my back and neck fixed! Came in after an auto accident and had me feeling better by the next week! I will recommend to everyone I know!</span>
						</div>
						<h4 class="testimonials__user-name site-text">Christopher C.</h4>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>